---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
IndentCaseLabels: true
IncludeBlocks: Regroup
PackConstructorInitializers: Never
